.card {
    .card-body {
        .active {
            background: transparent;
            border-color: #e0e0e0;
            
            a {
                color: #294CFF;
            }
        }
    }
}